<!DOCTYPE html>
<html>

<head>
    <title>KCDEX</title>
    <link rel="stylesheet" type="text/css" href="styles/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="styles/css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="styles/css/style.css">
</head>

<body>

    <h1>Welcome to KevCodex!</h1>

    <h5>This is a server-side swift experiment. Using Perfect Swift and MongoDB, you can enter and delete my favorite games using this webview.</h5>

    <a href="/test">TEST LINK</a>
    <hr>
    <h2>View Games</h2>
    <br>
    <a href="games">Games</a>
    <br>
    <a href="games?json=true">Game JSON</a>
    <br>
    <button>Games Button</button>
    <br>
    <form action="/games" method="GET">
        <input type="hidden" name="test" value="test">
        <input type="submit" value="View List">
    </form>
    <form action="/games" method="GET">
        <input type="hidden" name="json" value="true">
        <input type="submit" value="View JSON">
    </form>
    <form action="/method/put" method="GET">
        <input type="hidden" name="_method" value="PUT">
        <input type="submit" value="Test Put Override">
    </form>
    <hr>
    
    <h2>Create Game</h2>
    <form id="create_game" action="/games" method="POST">
        Name: <br>
        <input type="text" name="name" value="">
        <br> Description: <br>
        <textarea name="description" cols="40" rows="15"></textarea>
        <br> Image URL: <br>
        <input type="text" name="image" value="">
        <br> Approx. Date Made: <br>
        <input type="text" name="date" value="">
        <br> Developer: <br>
        <input type="text" name="developer" value="">
        <br> API Key: <br>
        <input type="text" name="apikey" autocomplete="off" value="">
        <br>
        <input type="submit" value="Save">
    </form>
    <div id="save_output"></div>

    <hr>
    <h2>Delete Game</h2>
    <form id="delete_game" action="/games/name" method="POST">
        Name:
        <br>
        <input type="text" name="name" autocomplete="off" value="">
        <br> Api Key:
        <br>
        <input type="text" name="apikey" autocomplete="off" value="">
        <br>
        <br>
        <input type="submit" value="Delete">
    </form>
    <div id="save_output2"></div>
    <br>
    <br>
    <br>
    

    <script type="text/javascript" src="js/test.js"></script>
</body>

</html>
